@import '~scss/mixins';
@import '~scss/variables';

.container-fluid {
  @include background('/assets/mountains_optimised.jpg');
  height: 100%;
  padding-top: 12vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: $Fclaire;
  text-align: center;
}

slide {
  padding: 50px;
  background: $projectsBg;
  border-radius: 10px;
}

img {
  max-height: 200px;
}

#one {
  opacity: .5;
  max-height: 180px;
}

#two {
  opacity: .7;
}

#three {
  opacity: .9;
}

#four {
  opacity: .6;
}

#five {
  opacity: .8;
}

#six {
  opacity: .8;
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    @include background('/assets/mountains_768_optimised.jpg');
    margin: 0;
    padding: 0;
  }

  slide {
    padding: 45px;
    padding-top: 20px;
    margin-top: 15vh;
  }

  img {
    max-width: 100%;
    max-height: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .row {
    margin-top: 5vh;
  }
  
  // img {
  //   width: 100%;
  //   max-height: 100%;
  //   opacity: .1;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  // }  
}
