<div class="container-fluid">
    <carousel>
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <slide>
          <h3>Hi, I'm Aqsa!</h3>
          <br> 
          <h4>I'm a self taught developer seeking a role where I can expand and strengthen my skill set, and put what I have learnt to good use.
              I have a mathematical background, and as such, I greatly enjoy solving puzzles and logical problems, which is what led me to software development. 
          </h4>
        </slide>
        <slide>
          <h4>
            I started out learning the basics of HTML5, CSS3, vanilla JavaScript and jQuery, which I then used in some personal projects (some of which can be seen in the projects section here).
            I then attended a course on Python and created a simple game, which helped me focus on programming logic. 
          </h4>
        </slide>
        <slide>
          <h4>From there I got my first contract as a junior developer, which introduced many new and exciting technologies to me. Specifically, this meant working with Angular 4 to build Single Page Applications, 
            and familiarising myself with concepts such as MVCs and version control.
          </h4>
        </slide>
        <slide>
          <h4>It also meant working full-stack, by incorporating Laravel and MySQL on the server side of my projects.
              This experience gave me a better appreciation of the overall process of web development, and I am now looking into
              technologies such as Redux for state management, Sass for improved CSS styling, and other MVC frameworks. 
          </h4>
        </slide>
        <slide>
          <h4>If you made it this far, thanks for visiting!</h4>
        </slide>
    </div>
  </div>
</carousel>
</div>
