<div class="container-fluid">
    <carousel>
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6" id="textBox">
        <slide id="bg_one">
          <br>
          <h4>Hi, I'm Aqsa!</h4>
          <br>
          <!-- <img src="/assets/bio/rubik_one.png" alt="" id="one">
          <br><br> -->
          <h5>I'm a self taught developer seeking a role where I can expand my skill set, and put what I've learnt to good use. 
              I have a mathematical background, and greatly enjoy solving puzzles and logical problems.
          </h5>
        </slide>
        <slide>
          <img src="/assets/bio/htmlcssjs_two.png" alt="html-css-js" id="two"><br><br>
          <h5>
            I started out learning the basics of HTML5, CSS3, vanilla JavaScript and jQuery. I used these in personal projects, some of which can be seen in the projects section here.
          </h5>
        </slide>
        <slide>
          <img src="/assets/bio/python_three.png" alt="python" id="three"><br><br>
          <h5>
            I then attended a Code First: Girls course on Python and created a simple game for the final project, which helped me focus on programming logic and the use of external packages. 
          </h5>
        </slide>
        <slide>
          <img src="/assets/bio/angular_four.png" alt="angular" id="four"><br><br>
          <h5>I got my first contract as a junior developer last year, which introduced many new and exciting technologies. I used Angular 4 to build Single Page Applications, 
            and familiarised myself with concepts such as MVCs and version control.
          </h5>
        </slide>
        <slide>
          <img src="/assets/bio/db_five.png" alt="server-side" id="five"><br><br>
          <h5>I also worked full-stack, by incorporating Laravel and MySQL on the server side of my projects. 
              This experience gave me a much better appreciation of the overall process of web development.
          </h5>
        </slide>
        <slide>
          <img src="/assets/bio/bulb_six.png" alt="bulb" id="six"><br><br>
          <h5>I'm now looking into technologies such as Redux for state management, Sass for improved CSS styling, and other MVC frameworks.<br><br>
              If you made it this far, thanks for visiting!</h5>
        </slide>
    </div>
  </div>
</carousel>
</div>
