@import '~scss/mixins';
@import '~scss/variables';

.container-fluid {
  @include background('/assets/mountains.jpg');
  height: 100%;
  padding-top: 12vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: scroll;
  overflow-x: hidden;
  font-family: $Fclaire;
  text-align: center;
}

slide {
  padding: 55px;
  background: $projectsBg;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    @include background('/assets/mountains_768.jpg');
    margin: 0;
    padding: 0;
  }

  slide {
    padding: 45px;
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 768px) {
  .row {
    margin-top: 10vh;
  }
}
