@import '~scss/variables';

:host {
  z-index: 5;
}

.navbar {
  width: 100vw;
}

.highlight {
  background: #383838;
  color: $navbar;
  border-radius: 10px;
  margin: 10px 10px;
}

h2 {
  margin: none;
}

a {
  color: $nav_items;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  font-family: $Fclaire;
}

.navbar {
  opacity: .9;
  background-color: $navbar;
  
  .navbar-brand {
    margin-left: 10px;
  }

  .nav-item {
    font-size: $fontSize;
    text-align: center;
  }

  #nav-item-last {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    margin: 10px 20px;
  }
}