@import '~scss/variables';

:host {
  z-index: 5;
  font-family: $Fclaire;
}

.highlight {
  background: #383838;
  color: $navbar;
  border-radius: 10px;
  margin: 5px 10px;
}

a {
  color: $nav_items;
}

.navbar {
  opacity: .85;
  background-color: $navbar;
  
  .navbar-brand {
    padding-left: 10px;
  }

  .nav-item {
    font-size: $lg-font-size;
    text-align: center;
  }

  #nav-item-last {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 767px) {
  a {
    margin: 0;

    h2 {
      margin: 0;
      font-size: $font-size;
    }
  }

  .nav-item {
    font-size: $font-size !important;
  }

  #nav-item-last {
    padding-right: 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    margin: 10px 20px;
  }

  .navbar-brand {
    margin-left: 20px;
  }
}