@import '~scss/variables';

:host {
  z-index: 9999;
}

a {
  color: inherit;
  text-decoration: none;
}

#media {
  margin-top: 1px;
}

.col-4  {
  padding: 1px;
}

span {
  opacity: 0;
  position: absolute;
  left: -2000px;
}

.col-12 {
  padding: 8px 0;
  background: white;
  text-align: center;
  font-size: 22px;
}

.col-12:hover {
  animation: push-left 1s;
  animation-fill-mode: forwards;

  span {
    all: initial;
    font-family: $Fclaire, Verdana, sans-serif;
    animation: show-span 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}

@keyframes push-left {
  from {
    padding-right: 0;
  } 
  to {
    padding-right: 30px;
  }
}

@keyframes show-span {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 426px) {
  .col-12 {
    font-size: 18px;
  }
}
