:host {
  z-index: 9999;
}

#media {
  margin-top: 1px;
}

.col-4  {
  padding: 1px;
}

.col-12 {
  padding: 8px 0;
  background: white;
  text-align: center;
  font-size: 22px;
}

@media only screen and (max-width: 426px) {
  .col-12 {
    font-size: 18px;
  }
}
