<div class="container-fluid" id="media">
  <div class="row">
    <!-- <div class="col-4 icon-linkedin"></div>
    <div class="col-4 icon-github"></div>
    <div class="col-4 icon-codepen"></div> -->
    <div class="col-4">
      <a target="_blank" href="https://www.linkedin.com/in/aqsa-ayman-shabbir-b10909111/">
        <div class="col-12 icon-linkedin">
          <span>Linkedin</span>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a target="_blank" href="https://github.com/aqsa-ayman/">
        <div class="col-12 icon-github">
          <span>GitHub</span>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a target="_blank" href="https://codepen.io/aymana001/">
        <div class="col-12 icon-codepen">
          <span>Codepen</span>
        </div>
      </a>
    </div>
  </div>
</div>