@import '~scss/mixins';

:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

#image {
  @include background('/assets/mountains_optimised.jpg');
}

@media only screen and (max-width: 768px) {
  #image {
    @include background('/assets/mountains_768_optimised.jpg');
  }
}
