@import '~scss/mixins';

:host {
  position: fixed;
  top: 0;
  left: 0;
}  

#image {
  @include background('/assets/landing_photo.jpg');
}

#credit_badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media only screen and (max-width: 768px) {
  #image {
    @include background('/assets/landing_photo_768.jpg');
  }
}
