@import '~scss/mixins';
@import '~scss/variables';

:host {
  z-index: -5;
}

.container-fluid {
  width: 100vw;
  background: $projectsBg;
  padding-top: 20px;
}

.row {

  .col-12 {
    margin-top: 20px;
  }

  .card {
    background: transparent;
    border: none;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;

    .card-img-top {
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
    }

    // img {
    //   // @include filter(grayscale,100%);
    // }

    img:hover {
      @include filter(grayscale, 100%);
      cursor: pointer;
    }

  }

}
