<app-navbar></app-navbar>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/simon_game.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/twitch_viewer.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/vanilla_paint.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/tic_tac_toe2.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/loopyfruit.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/pomodoro_timer.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/random_quote_generator.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/calculator.png" alt="" class="card-img">
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>