@import '~scss/mixins';
@import '~scss/variables';

.container-fluid {
  @include background('/assets/mountains_optimised.jpg');
  height: 100%;
  padding-top: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: scroll;
  overflow-x: hidden;
}

.row {

  margin: 0;
  padding: 0;

  .col-12 {
    margin-top: 20px;
  }

  .card {
    background: transparent;
    border: none;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;

    .card-img-top {
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
    }

  }

}

@media only screen and (max-width: 768px) {
  .container-fluid {
    @include background('/assets/mountains_768_optimised.jpg');
  }
}

@media only screen and (min-width: 769px) {
  img:hover {
    @include filter(grayscale, 100%);
    cursor: pointer;
  }
}
