<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/projects/simon_game.jpg" alt="Simon Game" class="card-img-top">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <a target="_blank" href="https://aqsa-ayman.github.io/twitch_viewer/">
          <img src="/assets/projects/twitch_viewer.jpg" alt="Twitch Viewer" class="card-img-top">
        </a>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/projects/vanilla_paint.jpg" alt="Paint Project" class="card-img-top">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/projects/tic_tac_toe2.jpg" alt="Tic Tac Toe" class="card-img-top">
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/projects/loopyfruit.jpg" alt="Loopyfruit Python Game" class="card-img-top">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <a target="_blank" href="https://aqsa-ayman.github.io/pomodoro/">
          <img src="/assets/projects/pomodoro.jpg" alt="Pomodoro Timer" class="card-img-top">
        </a>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/projects/random_quote_generator.jpg" alt="Random Quote Generator" class="card-img-top">
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card">
        <img src="/assets/projects/calculator.jpg" alt="Calculator" class="card-img-top">
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br><br>
</div>
