<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card"></div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card"></div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card"></div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card"></div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="card"></div>
    </div>
    <div class="col-12 col-sm-5">
      <div class="card"></div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>