// ------ colours ------
$pale_blue: rgb(209, 217, 255);

// ------ navbar --------
$navbar: #fff;
$nav-items: #111111;
$font-size: 1em;
$lg-font-size: 1.3em; 

// ------ projects -------
$projectsBg: rgba(255,255,255,.7);

// ----- fonts --------
$Fclaire: 'ClaireHandBold';

