$fa-font-path: "~node_modules/font-awesome/fonts";

$navbar: #fff;
$nav-items: #111111;

$Fshadow: 'Shadows Into Light', cursive;
$Fcomfortaa: 'Comfortaa', cursive;
$Fnews: 'News Cycle', sans-serif;
$Fclaire: 'ClaireHandBold';

$fontSize: 160%;