$fa-font-path: "~node_modules/font-awesome/fonts";

// ------ navbar --------
$navbar: #fff;
$nav-items: #111111;

// ------ projects -------
$projectsBg: transparent;

// ----- fonts --------
$Fshadow: 'Shadows Into Light', cursive;
$Fcomfortaa: 'Comfortaa', cursive;
$Fnews: 'News Cycle', sans-serif;
$Fclaire: 'ClaireHandBold';

$fontSize: 160%;